@page "/models/create"

@inject HttpClient _client
@inject NavigationManager _navManager

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h3 class="card-title">Create New Model</h3>

<FormComponent ButtonText="Create model" OnValidSubmit="CreateModel" make="model"></FormComponent>

@code {
    Model model = new Model();

    private async Task CreateModel()
    {
        await _client.PostAsJsonAsync($"{Endpoints.ModelsEndpoint}", model);
        _navManager.NavigateTo("/models/");
    }
}
