@page "/makes/edit/{id:int}"

@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Edit Model</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditModel" make="model"></FormComponent>

@code {
    [Parameter] public int id { get; set; }
    Model model = new Model();

    protected async override Task OnParametersSetAsync()
    {
        model = await _client.GetFromJsonAsync<Model>($"{Endpoints.ModelsEndpoint}{id}");
    }

    async Task EditModel()
    {
        await _client.PutAsJsonAsync<Model>($"{Endpoints.ModelsEndpoint}{id}", model);
        _navManager.NavigateTo("/models/");
    }
}
