@page "/customers/create"

@inject HttpClient _client
@inject NavigationManager _navManager

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h3 class="card-title">Create New Customer</h3>

<FormComponent ButtonText="Create customer" OnValidSubmit="CreateMake" customer="customer"></FormComponent>

@code {
    Customer customer = new Customer();

    private async Task CreateMake()
    {
        await _client.PostAsJsonAsync($"{Endpoints.CustomersEndpoint}", customer);
        _navManager.NavigateTo("/customers/");
    }
}
