@page "/bookings/create"

@inject HttpClient _client
@inject NavigationManager _navManager

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h3 class="card-title">Create New Booking</h3>

<FormComponent ButtonText="Update" OnValidSubmit="CreateBooking" booking="booking" vehicles="Vehicles" customers="Customers"></FormComponent>

@code {
    Booking booking = new Booking { DateOut = DateTime.Now.Date };
    IList<Vehicle> Vehicles;
    IList<Customer> Customers;

    protected async override Task OnInitializedAsync()
    {
        Vehicles = await _client.GetFromJsonAsync<List<Vehicle>>($"{Endpoints.VehiclesEndpoint}");
        Customers = await _client.GetFromJsonAsync<List<Customer>>($"{Endpoints.CustomersEndpoint}");
    }

    private async Task CreateBooking()
    {
        await _client.PostAsJsonAsync($"{Endpoints.BookingsEndpoint}", booking);
        _navManager.NavigateTo("/bookings/");
    }
}
