@page "/vehicles/create"

@inject HttpClient _client
@inject NavigationManager _navManager

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h3 class="card-title">Create New Vehicle</h3>

<FormComponent ButtonText="Create vehicle" OnValidSubmit="CreateVehicle" vehicle="vehicle"></FormComponent>

@code {
    Vehicle vehicle = new Vehicle();

    private async Task CreateVehicle()
    {
        await _client.PostAsJsonAsync($"{Endpoints.VehiclesEndpoint}", vehicle);
        _navManager.NavigateTo("/vehicles/");
    }
}
